
@font-face {
  font-family: 'RockfordSansLight';
  src: local('RockfordSansLight'), url(./Assets/fonts/RockfordSans-Light.otf) format('opentype');
}

@font-face {
  font-family: 'RockfordSansRegular';
  src: local('RockfordSans'), url(./Assets/fonts/RockfordSans-Regular.otf) format('opentype');
}

@font-face {
  font-family: 'RockfordSansMedium';
  src: local('RockfordSans'), url(./Assets/fonts/RockfordSans-Medium.otf) format('opentype');
}

@font-face {
  font-family: 'RockfordSansBold';
    font-weight: 900;
    src: local('RockfordSans'), url(./Assets/fonts/RockfordSans-Bold.otf) format('opentype');
}

@font-face {
  font-family: 'RockfordSansExtraBold';
    font-weight: 900;
    src: local('RockfordSans'), url(./Assets/fonts/RockfordSans-ExtraBold.otf) format('opentype');
}

body {
  margin: 0;
  font-family: RockfordSansRegular, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

[data-baseweb="modal"] {
  z-index: 1;
}

*:focus {outline:none !important}

.play {
  display: none;
}

.floating-play {
  display: none;
  position: absolute;
  left: 40px;
}

tr:hover td div .play {
  cursor: pointer;
  display: block;
}

tr:hover td div .floating-play {
  cursor: pointer;
  display: block;
}


tr:hover td div .tracknumber {
 display: none;
}

tr:hover td div .album-cover {
  opacity: 0.4;
 }

tr:hover td div button {
  color: #000;
 }

 tr td div div {
  overflow: hidden;
  text-overflow: ellipsis;
 }

 a {
    color: initial;
    text-decoration: initial;
 }

 a:hover {
  text-decoration: underline;
 }

 .album-cover-container {
  position: relative;
 }

 .album-cover-container .floating-play {
  display: none;
  position: absolute;
  left: 19px;
  top: 12px;
 }

 .album-cover-container:hover .floating-play {
  display: block;
 }

 .album-cover-container:hover img {
  opacity: 0.4;
 }

 [data-baseweb="tab-panel"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
 }

 .connect-list li:hover {
  border-radius: 5px;
  cursor: pointer;
 }